// Mixins
//
// Our custom mixins.
//
// Style guide: base.mixins

@mixin centered($max-width: $desktop) {
  max-width: $max-width;
  margin: 0 auto;
}

// Font size mixin.
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
